<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>ADDRESS</th>
                <th>LANDMARK</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of Driver " style="cursor: pointer;" (click)="onClick(d.name)">
                <td>{{d.name}}</td>
                <td>{{d.email}}</td>
                <td>{{d.phone}}</td>
                <td>{{d.address}}</td>
                <td>{{d.landmark}}</td>
            </tr>
        </tbody>
    </table>
</div>